.stocklogo {
  padding: 1vw;
}

#container {
  height: 100vh;
}

#themain {
  padding: 4vw;
}

#myCard {
  border-width: 2px;
  max-width: 100% !important;
  border-radius: 2vw;
}

.heads {
  font-family: "Rowdies", cursive;
  font-weight: 500;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.bo {
  display: none;
}

#stocksContainer {
  display: inline-flex;
  overflow: auto;
  display: flex;
  justify-content: center;
  width: 100vw;
}

#github {
  margin-left: 1vw;
}
