.stocklogo {
  padding: 1vw;
}

#container {
  height: 100vh;
  margin: 0;
  justify-content: center;
  display: flex;
  background: rgb(255, 255, 255);
}

#myCard {
  border-width: 2px;
  max-width: 100% !important;
  border-radius: 2vw;
}
#companyNewsContainer,
#marketNewsContainer {
  flex-wrap: wrap;
}
