.Content {
  text-align: center;
}

.Content-header {
  text-align: center;

  display: inline-grid;
  font-family: "Alata", sans-serif;
  justify-content: space-evenly;
  flex-flow: wrap;
  align-items: center;
  margin-top: 2vw;
  flex-direction: row;
  color: white !important;
  font-weight: 600;
  font-size: calc(10px + 2vmin);
  color: rgb(52 58 64);
}

#github {
  margin: auto;
}

input {
  color: rgb(52 58 64);
}

#inputs {
  display: flex;
}

#button {
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
